<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
<head>
    {{ partial "head.html" .}}
</head>
<body>
<style>
    #fh5co-about {
        margin-top: 20px;
    }
</style>

{{ partial "nav.html" .}}

<section class="separator-greenLine">

    <section id="fh5co-about" data-section="about">
        <div class="container">

    </section>
    <div class="container content-container">

        {{ .Content }}

    </div>

</section>



</body>
</html>