<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    {{ partial "head.html" .}}
      <style>
          #fh5co-home {

              overflow: initial;

          }
      </style>
  </head>
  <body>
    {{ partial "nav.html" .}}
    
    <section id="fh5co-home" class="small-home" data-stellar-background-ratio="0.5">
        <div class="gradient" style="">

          <div style="position: absolute; top: 148px; width: 100%">
          <div style="max-width: 1034px;
    margin: 0 auto;
    text-align: left;"><h1 style="color: black;">{{ .Title }}</h1></div>

    </section>
    <div class="container content-container">

            {{ .Content }}

    </div>
    

        {{ partial "footer.html" .}}


    {{ partial "js.html" .}}
  </body>
</html>
