<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>











    {{ partial "nav.html" .}}

        {{ partial "hero.html" .}}



        {{ partial "intro.html" .}}


        <section class="separator-greenLine">
            {{ partial "home-why.html" .}}
        </section>


        <section class="separator-greenLine" style="background: #f6f6f6;">
            {{ partial "home-how.html" .}}
            {{ partial "home-how-questions.html"  .}}
        </section>


        <section class="separator-greenLine">
            <div class="side-by-side">
            {{ partial "home-mining.html" .}}
            {{ partial "home-lightning.html" .}}
            </div>
        </section>




        <section class="separator-greenLine" style="background: #161616; color: white;">
            {{ partial "home-atomicSwaps.html" .}}
        </section>

    <section class="separator-greenLine" style="overflow: initial;">
        {{ partial "home-litEcosystem.html" .}}
    </section>

    <section class="separator-greenLine guideSpacer">
        {{ partial "home-adoption.html" .}}
    </section>


        <section class="separator-greenLine" style="background-color: #161616;">
            {{ partial "home-socialContract.html" .}}
        </section>



        <section class="separator-greenLine">
            <div class="side-by-side" style="padding-bottom: 46px;">
            {{ partial "home-noPremine.html" .}}
            {{ partial "home-communityStatus" .}}
            </div>

        </section>


        <section class="hideMobile separator-greenLine guideSpacer">
            {{ partial "home-guides.html" .}}
        </section>




		<section class="separator-greenLine hideMobile" style="background: #f6f6f6;">
            {{ partial "about.html" .}}
        </section>



        <section class="separator-greenLine">
		{{ partial "home-contact.html" .}}
        </section>


        {{ partial "footer.html" .}}


        {{ partial "js.html" .}}
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


</html>