	<section id="fh5co-home" data-section="home" style="" data-stellar-background-ratio="0.5">


		<!--<svg width="439px" height="420px" viewBox="0 0 439 420" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
			<!--&lt;!&ndash; Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch &ndash;&gt;-->
			<!--<title>Path 2 Copy 4</title>-->
			<!--<desc>Created with Sketch.</desc>-->
			<!--<defs></defs>-->
			<!--<g id="Artboard-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, -361.000000)">-->
				<!--<path d="M-82.5532102,590.047156 L-37.3604625,537.953413 L123.445074,537.953413 L222.235088,665.529927 L480.779644,303 C496.176483,316.976559 510.54007,332.923623 523.870404,350.841193 C537.200738,368.758762 548.761673,387.895239 558.55321,408.250624 L241.152982,852.642147 C235.155038,859.020973 228.849074,862.210386 222.235088,862.210386 C215.621102,862.210386 208.964806,859.020973 202.2662,852.642147 L1.52632038,590.047156 L-82.5532102,590.047156 Z" id="Path-2-Copy-4" fill="#24B47E"></path>-->
			<!--</g>-->
		<!--</svg>-->



		<!--<svg style="left: 1px;" class="hero-tick-controller" width="1320px" height="1140px" viewBox="0 0 1294 1128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
			<!--&lt;!&ndash; Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch &ndash;&gt;-->
			<!--<title>Path 2 Copy 4</title>-->
			<!--<desc>Created with Sketch.</desc>-->
			<!--<defs></defs>-->
			<!--<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" >-->
				<!--<path d="M5.98470313,579.416458 L96.5677486,475.001255 L418.881748,475.001255 L616.893615,730.711955 L1135.1129,4.06738156 C1165.97388,32.0815951 1194.76384,64.0454327 1221.48278,99.9588942 C1248.20172,135.872356 1271.37412,174.228961 1291,215.028709 L654.812099,1105.75432 C642.789992,1118.53985 630.150498,1124.93262 616.893615,1124.93262 C603.636732,1124.93262 590.295043,1118.53985 576.868548,1105.75432 L174.511299,579.416458 L5.98470313,579.416458 Z" id="Path-2-Copy-4" stroke="#13B57D" stroke-width="5"></path>-->
			<!--</g>-->
		<!--</svg>-->
		<div class="container" style="width: 1020px; max-width: none; height: 100%; background-image: url(../images/vert-header-green.jpg); background-size: cover; background-position: 50% 50%;     z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;">



		</div>

		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">

							<h1 class="">{{ i18n "hero_title" | markdownify }}</h1>
							<p class="">{{ i18n "hero_subtitle" | markdownify }}</p>


							<div class="">

								{{ range $index, $element := .Site.Params.desktopButton.item }}

								<div class="button" style="    width: fit-content;
    font-size: 18px;
    padding: 12px 23px; margin-right: 10px; background: #048657;
    color: white; text-decoration: none;"><a style="color: white;" href="/download">{{ i18n (printf "desktopDownload_%d_title" $index) | markdownify }}</a></div>

								{{ end }}



								{{ range $index, $element := .Site.Params.mobileButton.item }}
								<div class="button hideMobile" style="    width: fit-content;
    font-size: 18px;
    padding: 10px 22px;
    background: transparent;
    color: white;
    margin-left: 10px;
    border: 2px solid white; display: inline-block;"><a style="color: white;" href="/mine">{{ i18n (printf "mobileDownload_%d_title" $index) | markdownify }}</a>

								</div>



								{{ end }}

							</div>

					</div>
				</div>
			</div>
		</div>
		<!--<div class="slant"></div>-->
	</section>
