	<section id="fh5co-home" data-section="home" style="" data-stellar-background-ratio="0.5">
		<svg style="position: absolute; width: 103.26%; top: -15px;" width="1285px" height="1121px" viewBox="0 0 1285 1121" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
			<title>Path 2 Copy 4</title>
			<desc>Created with Sketch.</desc>
			<defs></defs>
			<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<path d="M-0.0152968698,575.416458 L90.5677486,471.001255 L412.881748,471.001255 L610.893615,726.711955 L1129.1129,0.0673815566 C1159.97388,28.0815951 1188.76384,60.0454327 1215.48278,95.9588942 C1242.20172,131.872356 1265.37412,170.228961 1285,211.028709 L648.812099,1101.75432 C636.789992,1114.53985 624.150498,1120.93262 610.893615,1120.93262 C597.636732,1120.93262 584.295043,1114.53985 570.868548,1101.75432 L168.511299,575.416458 L-0.0152968698,575.416458 Z" id="Path-2-Copy-4" fill="#24B47E"></path>
			</g>
		</svg>
		<div class="container" style="width: 1020px;">



		</div>

		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">

							<h1 class="">{{ i18n "hero_title" | markdownify }}</h1>
							<p class="">{{ i18n "hero_subtitle" | markdownify }}</p>


							<div class="hideMobile">

								{{ range $index, $element := .Site.Params.desktopButton.item }}

								<div class="button" style="    width: fit-content;
    font-size: 15px;
    padding: 10px 17px; margin-right: 10px; background: transparent;
    color: black;
    border: 1px grey solid;">{{ i18n (printf "desktopDownload_%d_title" $index) | markdownify }}</div>

								{{ end }}



								{{ range $index, $element := .Site.Params.mobileButton.item }}
								<div class="button" style="    width: fit-content;
    font-size: 15px;
    padding: 10px 39px; background: white; color: black; margin-left: 10px; border: 1px solid rgba(0,0,0,0.14);">{{ i18n (printf "mobileDownload_%d_title" $index) | markdownify }}

								</div>



								{{ end }}

							</div>

					</div>
				</div>
			</div>
		</div>
		<!--<div class="slant"></div>-->
	</section>
