<section id="home-atomicSwaps" data-section="home-atomicSwaps">





        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">


                    <h3 style="color: #f7f7f7;">{{ i18n "atomicSwaps_title" | markdownify }}</h3>
                    <h5 style="color: #f7f7f7;" class="subtitle">{{ i18n "atomicSwaps_subtitle" | markdownify }}</h5>
                    <p  style="color: #f7f7f7;">{{ i18n "atomicSwaps_description" | markdownify }}</p>


                </div>
            </div>
        </div>








</section>