<section id="home-litEcosystem" data-section="home-litEcosystem">





        <div class="wrapper">
            <div class="inner-wrapper">
                <div class="childController">


                    <h3>{{ i18n "litEcosystem_title" | markdownify }}</h3>
                    <h5 class="subtitle">{{ i18n "litEcosystem_subtitle" | markdownify }}</h5>
                    <p>{{ i18n "litEcosystem_description" | markdownify }}</p>


                </div>
            </div>
        </div>








</section>