	<section id="fh5co-services" data-section="services">


			<div class="whyVert">
			{{ range $index, $element := .Site.Params.services.item }}

				<div class="wrapper">
					<div class="inner-wrapper">
						<div class="childController">


								<h3>{{ i18n (printf "service_%d_title" $index) | markdownify }}</h3>
								<p>{{ i18n (printf "service_%d_description" $index) | markdownify }}</p>
								<ul class="social social-circle">
									{{ range .social }}
									<li><a href="{{ index . 1 }}" target="_blank"><i class="{{ index .  0 }}"></i></a></li>
									{{ end }}
								</ul>

						</div>
					</div>
				</div>

			{{ end }}
			</div>

	</section>
